body{ background: maroon }
h1 { font-family: Arial, Helvetica, Sans-serif; font-size:18pt;
      color:yellow; font-weight:bold; text-align: center;}
p{ font-family: Arial, Helvetica, Sans-serif; font-size:14pt;
   color:blue; }
table { font-family: Arial, Helvetica, Sans-serif; font-size:14pt;
        color:darkblue; background:beige }
