body{ background:  DarkGoldenRod    }
h1 { font-family: Arial, Helvetica, Sans-serif; font-size:18pt;
      color:yellow; font-weight:bold; }
p{ font-family: Arial, Helvetica, Sans-serif; font-size:14pt;
   color:white; }
table { font-family: Arial, Helvetica, Sans-serif; font-size:14pt;
        color:white; background:black }
