body{ background: ForestGreen}
h1 { font-family: Arial, Helvetica, Sans-serif; font-size:30pt;
      color:yellow; font-weight:bold; }
p{ font-family: Arial, Helvetica, Sans-serif; font-size:14pt;
   color:blue; }
table { font-family: Arial, Helvetica, Sans-serif; font-size:14pt;
        color:blue; background:Blue }
