body{
   background-image:url("Fantasy.jpg");
   background-size:100% 100%;
   background-repeat:no-repeat;
   background-attachment:fixed;
   font-family:Tahoma;
   font-size:20px;
   color:white;
}
a{
   color:yellow;
}

a:visited{
   color:white;
 }



h1{
   background-color:#000099;
   width:50%;
   border-radius:20px;
   border-style: solid;
   border-color:white;
   border-width:2px;
   margin-left:0px;
}

#open{
   font-size:30px;
   background-color:#000099;
   width:50%;
   border-radius:20px;
   border-style: solid;
   border-color:white;
   border-width:2px;
   margin-left:0px;
   margin-top:200px;
}

input[type="submit"]{
    width: 150px;
    display: block;
    margin-bottom: 10px;
    background-color:yellow;
    border-style: dotted;
    border-width:4px;
    border-color:blue;
}







