body{ background: white }
h1 { font-family: Arial, Helvetica, Sans-serif; font-size:18pt;
      color:green; font-weight:bold; }
p{ font-family: Arial, Helvetica, Sans-serif; font-size:14pt;
   color:blue; }
table { font-family: Arial, Helvetica, Sans-serif; font-size:14pt;
        color:darkblue; background:lightblue }
