body{
background-image:url('background.png');
font-family:Verdana;
font-size:8pts;
 padding: 0px;
margin: 0px;

}
div#banner{
   height:50px;
   background-image:url('bannerbg.png');
 background-image:url('banner.png');


}
span#movies{
font-family: Verdana;
font-size:24pt;
text-shadow:3px 3px #999999;



}
#content{
width:800px;
margin:auto;
border-style: solid;
border-color:gray;
border-width:4px;
border-radius:20px;
height:1320px;


}

#head{
color:red;
font-size:48pt;
background-image:url("rbg.png");
background-size:83px;
background-repeat:repeat-x;
border-radius:10px;
}
#left{
float:left;
width:47%;

}
#right{
float:right;
width:47%;
}
#contentmin{

float:left;

margin:auto;

}
.box{
border-style:solid;
border-color:gray;
border-width:2px;
border-radius:10px;
font-size:8pts;
background-color:#E8DC9B;
width:200px;

margin:20px 0px 20px 10px;
padding:8px 8px 8px 8px;

}
.pic{

padding-right:5px;
float:left;
}
.critic{
font-style:italic;


}
#overview{
width:250px;
background-color:#A2B964;
height:1200px;
float:right;


}
#bottom{

background-color:#A2B964;
margin-top:1190px;
padding-bottom: 5px;
height:10px;
}
#valid{
position:fixed;
bottom:0;
right:50px;
float:right;
opacity:0.5;
}
