body
{
background-color:#FAFAD2;
font-size:16px;
font-family:Georgia;
}

#tophead{
text-align:center;
font-size:40px;
}

section{
background-color:#99CC00;
color:#FDE15E ;
font-family:Arial;
font-weight:bold;
font-size:30px;

}
a:visited{
color:#A4A400;

}
li{

font-size:18px;


}
h3 {
font-weight:bold;



}
del{
font-size:20px;
font-weight:bold;
font-style:italic;

}


#comments{
background-color:#FDE15E;
color:#CC3300;
font-size:15px;
font-weight:bold;
font-style:italic;



}
ul {
    list-style-type: none;
    padding: 5px;
    margin: 0px;

}

ul li {
    background-image:  url('50px-CoffeeCup.jpg');
    background-repeat: no-repeat;
    background-position: 0px 5px;
    padding-left: 40px;

    height:50px;

}
