h1{
color:gold;
font-family:Garamond;
text-decoration:underline;
border-style:solid gold 10px;


}
h3{
color:gold;
font-family:Garamond;
font-style:Bold;


}

a h3:hover{
color: #99CC00;


}
body{

text-align:center;
background-image:url('bakery2.jpg');
background-repeat:no-repeat;


}

