table {
   font-size: 0.8em;
   font-family: Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   border-top: 4px solid #DCA806;
   border-bottom: 1px solid white;
   text-align: left;
}

caption {
   font-weight: bold;
   padding: 0.25em 0 0.25em 0;
   text-align: left;
   text-transform: uppercase;
   border-top: 1px solid #DCA806;
}

thead tr {
   background-color: #CACACA;
}
th {
   padding: 0.75em;
}

tbody tr {
   background-color: #F1F1F1;
   border-bottom: 1px solid white;
   color: #6E6E6E;
}

tbody td {
   padding: 0.75em;
}


tbody tr:hover{
   background-color: #9e9e9e;
   color: yellow;
}

tbody tr:nth-child(odd) {
   background-color: blue;
}
tbody tr:nth-child(even) {
   background-color: brown;
}

